.section-title {
  padding: 1.6rem 0;
  border-bottom: 1px solid @commonBorderColor;
  margin-bottom: 3rem;
  .clearfix;

  &__text {
    float: left;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
  }

  &__filter {
    width: 200px;
    float: right;
  }
}
