.section-title {
  font-size: 2rem;
  padding: 0.8em 0;
  border-bottom: 1px solid @commonBorderColor;
  margin-bottom: 1.5em;

  &__text {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
    font-size: inherit;
  }
}
