.header {
  background: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    height: 107px;
  }

  &__logo {
    position: absolute;
    bottom: 7px;
    left: @grid-gutter-width / 2;
    width: 340px;
    height: 85px;
  }

  &__user-menu,
  &__info-links {
    float: right;
  }
  &__user-menu {
    margin-left: 2em;
  }
  &__link {
    display: inline-block;
    line-height: 30em / 13;
  }

  &__cart {
    position: absolute;
    bottom: 10px;
    right: @grid-gutter-width / 2;
  }

  &__phone {
    position: absolute;
    font-size: 1.6em;
    color: @baseTextColor;
    top: 0;
    left: 100px;
  }

  &__mobile-btn {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    &__logo {
      bottom: 9px;
      width: 270px;
      height: 68px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__logo {
      bottom: 10px;
      width: 170px;
      height: 43px;
    }
    &__info-links {
      float: left;
    }
    &__user-menu {
      margin-left: 0;
    }
  }
}
