.header {
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    float: left;
    position: relative;
    width: 250px;
    height: 107px;
  }

  &__user-menu,
  &__links {
    float: right;
  }
  &__user-menu {
    margin-left: 2em;
  }
  &__link {
    display: inline-block;
    line-height: 30em / 13;
  }
}

