.header {
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    float: left;
    position: relative;
    width: 250px;
    height: 107px;
  }

  &__user-menu,
  &__links {
    float: right;
  }
  &__user-menu {
    margin-left: 2em;
  }
  &__link {
    display: inline-block;
    line-height: 30em / 13;
  }

  &__cart {
    position: absolute;
    bottom: 10px;
    right: @grid-gutter-width / 2;
  }

  &__phone {
    position: absolute;
    font-size: 1.6em;
    color: @baseTextColor;
    top: 0;
    left: 100px;
  }
}

