@import "../../common/less/variables";

.menu {
    background: #FFF;
    box-shadow: 0 -7px 15px 0 rgba(206, 206, 206, 0.5);

    &__list {
        margin-bottom: 0;
        margin-top: 0;
        padding: 15px 0;
    }
}

@media all and (min-width: (@screen-lg+1px)) {
    .menu {

        &__item {
            display: inline-block;
            list-style: none;
            border-right: 1px solid #CECECE;
            padding: 2em/13 15em/13;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: none;
            }
        }

        &__link {
            text-decoration: none;
            line-height: 21em/17;
            font-size: 17em/13;
            color: #777;

            &:hover {
                color: #333;
            }
        }

        &__mobile-button {
            display: none;
        }
    }
}

@media all and (max-width: (@screen-lg)) {

    .menu {
        padding: 0;

        &__list {
            display: none;
            position: absolute;
            z-index: 80;
            left: @grid-gutter-width/2;
            right: @grid-gutter-width/2;

            &_visible {
                display: block;
            }
        }

        &__item {
            list-style: none;
        }

        &__link {
            display: block;
            width: 100%;
            padding: 15em/18 10em/18;
            color: #FFF;
            font-size: 18em/13;
            line-height: 1em;
            text-decoration: none;
            background-color: @lightenBgColor;

            &:hover {
                background-color: @titlesColor;
            }
        }

        &__mobile-button {
            display: block;
            color: #000;
            border: none;
            font-size: 33em/13;
            font-family: "Georgia", serif;
            text-align: left;
            line-height: 1em;
            padding: 10em/33 30px 10em/33 0;
            text-decoration: none;
            background: #fff url('dev/blocks/menu/plus_26_black.svg') no-repeat scroll right center;

            &_active {
                background-image: url('dev/blocks/menu/minus_26_black.svg');
            }
        }
    }
}