:host {
  display: block;
}
.photo {
  display: block;
  background-position: 50% 50%;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  background-repeat: no-repeat;
  border: 6px solid #FFF;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}
.photo_border_3 {
  border-width: 3px;
}
.link {
  color: #777;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}
.link_decoration_none {
  text-decoration: none;
}
.link:hover {
  color: #333;
  text-decoration: none;
}
.btn-default {
  display: inline-block;
  position: relative;
  font-size: inherit;
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: pointer;
  border-color: #f9f9f9 #eaeaea #a3a3a3;
  -o-border-image: none;
     border-image: none;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(top, #f9f9f9 0px, #efefef 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0px, #efefef 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0px, #efefef 100%);
  background-repeat: repeat;
  color: #333;
}
.btn-default:hover,
.btn-default_black {
  background-color: #2A2A2A;
  background-image: none;
  color: #FFF;
  border-color: #2A2A2A;
  -webkit-box-shadow: inset 0 0 1px #ffffff;
          box-shadow: inset 0 0 1px #ffffff;
}
.btn-default_hover_not:hover {
  background-color: #efefef;
  color: #333;
  border-color: #f9f9f9 #eaeaea #a3a3a3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-default_box-shadow_none {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-default_big {
  font-size: 1.8em;
  line-height: 1;
}
.btn-default_font_normal {
  font-weight: normal;
}
.btn-default_accent {
  background-color: #ff5400;
  background-image: none;
  border-color: #ff5400;
}
.btn-default_accent:hover {
  background-color: #ff651a;
  border-color: #ff5400;
}
.btn-default_disable {
  opacity: 0.5;
  cursor: default;
}
.btn-default_disable:hover {
  cursor: default;
}
.price {
  color: #777;
  font-weight: normal;
}
.price::after {
  content: ' р.';
  font-size: 0.9em;
}
.price_old {
  text-decoration: line-through;
}
.price_sale {
  color: #ff5400;
}
.price_bold {
  font-weight: bold;
}
.price_small {
  font-size: 0.75em;
}
.price_big {
  font-size: 1.25em;
}
.big-cart:before,
.big-cart:after {
  content: " ";
  display: table;
}
.big-cart:after {
  clear: both;
}
.big-cart__row {
  border-bottom: 1px solid #cecece;
}
.big-cart__row:before,
.big-cart__row:after {
  content: " ";
  display: table;
}
.big-cart__row:after {
  clear: both;
}
.big-cart__row_titles {
  font-weight: bold;
  text-transform: uppercase;
}
.big-cart__item {
  float: left;
  padding: 1em 0.5em;
}
.big-cart__item_name {
  width: 50%;
}
.big-cart__item_name:before,
.big-cart__item_name:after {
  content: " ";
  display: table;
}
.big-cart__item_name:after {
  clear: both;
}
.big-cart__item_price {
  width: 20%;
  min-width: 130px;
}
.big-cart__item_count {
  width: 18%;
  min-width: 150px;
}
.big-cart__item_actions {
  width: 12%;
  min-width: 85px;
  text-align: center;
}
.big-cart__price {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.big-cart__image {
  float: left;
  width: 125px;
  vertical-align: top;
}
.big-cart__name {
  font-size: 1.1em;
  display: block;
  padding-left: 140px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.big-cart__props {
  display: block;
  padding-left: 150px;
  list-style: none;
  margin-bottom: 1rem;
}
.big-cart__prop {
  margin-bottom: 5px;
}
.big-cart__count {
  width: 125px;
}
.big-cart__delete {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPGc+DQogICAgICAgIDx0aXRsZT5MYXllciAxPC90aXRsZT4NCiAgICAgICAgPHBhdGggaWQ9InN2Z18xIiBmaWxsPSJncmF5IiBkPSJtMTUsMjkuNXE2LjAwNzE1LDAgMTAuMjUzNTcsLTQuMjQ2NDN0NC4yNDY0MywtMTAuMjUzNTd0LTQuMjQ2NDMsLTEwLjI1MzU3dC0xMC4yNTM1NywtNC4yNDY0M3QtMTAuMjUzNTcsNC4yNDY0M3QtNC4yNDY0MywxMC4yNTM1N3Q0LjI0NjQzLDEwLjI1MzU3dDEwLjI1MzU3LDQuMjQ2NDN6bTIuOTY5MDUsLTE0LjVsNS4zMTY2Nyw1LjMxNjY3bC0yLjk2OTA1LDIuOTY5MDVsLTUuMzE2NjcsLTUuMjQ3NjNsLTUuMjQ3NjIsNS4yNDc2M2wtMy4wMzgxLC0yLjk2OTA1bDUuMzE2NjcsLTUuMzE2NjdsLTUuMzE2NjcsLTUuMjQ3NjJsMy4wMzgxLC0yLjk2OTA1bDUuMjQ3NjIsNS4yNDc2Mmw1LjMxNjY3LC01LjI0NzYybDIuOTY5MDUsMi45NjkwNWwtNS4zMTY2Nyw1LjI0NzYyeiIvPg0KICAgIDwvZz4NCg0KPC9zdmc+') no-repeat scroll center center;
}
.big-cart__delete:hover {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPGc+DQogICAgICAgIDx0aXRsZT5MYXllciAxPC90aXRsZT4NCiAgICAgICAgPHBhdGggaWQ9InN2Z18xIiBmaWxsPSIjMzMzMzMzIiBkPSJtMTUsMjkuNXE2LjAwNzE1LDAgMTAuMjUzNTcsLTQuMjQ2NDN0NC4yNDY0MywtMTAuMjUzNTd0LTQuMjQ2NDMsLTEwLjI1MzU3dC0xMC4yNTM1NywtNC4yNDY0M3QtMTAuMjUzNTcsNC4yNDY0M3QtNC4yNDY0MywxMC4yNTM1N3Q0LjI0NjQzLDEwLjI1MzU3dDEwLjI1MzU3LDQuMjQ2NDN6bTIuOTY5MDUsLTE0LjVsNS4zMTY2Nyw1LjMxNjY3bC0yLjk2OTA1LDIuOTY5MDVsLTUuMzE2NjcsLTUuMjQ3NjNsLTUuMjQ3NjIsNS4yNDc2M2wtMy4wMzgxLC0yLjk2OTA1bDUuMzE2NjcsLTUuMzE2NjdsLTUuMzE2NjcsLTUuMjQ3NjJsMy4wMzgxLC0yLjk2OTA1bDUuMjQ3NjIsNS4yNDc2Mmw1LjMxNjY3LC01LjI0NzYybDIuOTY5MDUsMi45NjkwNWwtNS4zMTY2Nyw1LjI0NzYyeiIvPg0KICAgIDwvZz4NCg0KPC9zdmc+') no-repeat scroll center center;
}
.big-cart__summ {
  padding: 1em 0.5em;
  text-align: right;
  font-size: 1.5em;
  border-bottom: 1px solid #cecece;
}
.big-cart__itog {
  margin-left: 15px;
}
.big-cart__result {
  padding: 1em 0.5em;
  text-align: right;
}
@media all and (max-width: 864px) {
  .big-cart__row_titles {
    display: none;
  }
  .big-cart__item {
    float: none;
    width: auto;
  }
  .big-cart__item_price,
  .big-cart__item_count {
    min-width: 0;
    display: inline-block;
    vertical-align: top;
  }
  .big-cart__item_actions {
    text-align: left;
  }
}
