<section class="big-cart">

    <div class="big-cart__row big-cart__row_titles">
        <div class="big-cart__item big-cart__item_name">{{ lang.goods }}</div>
        <div class="big-cart__item big-cart__item_count">{{ lang.quantity }}</div>
        <div class="big-cart__item big-cart__item_price">{{ lang.price }}</div>
        <div class="big-cart__item big-cart__item_actions"></div>
    </div>

    <div class="big-cart__row" *ngFor="let item of result.items">
        <div class="big-cart__item big-cart__item_name">
            <div class="big-cart__image">
                <img class="photo" src="{{ item.imgSrc }}" alt="{{ item.name }}">
            </div>
            <a class="big-cart__name link" href="{{ item.url }}">{{ item.name }}</a>


        </div>
        <div class="big-cart__item big-cart__item_count">
            <product-count class="big-cart__count"
                           [value]="item.quantity"
                           [maxValue]="item.available_quantity"
                           [minValue]="1">

            </product-count>
        </div>
        <div class="big-cart__item big-cart__item_price">

            <div class="price big-cart__price">{{ item.price }}</div>


        </div>
        <div class="big-cart__item big-cart__item_actions">
            <a href="#" class="big-cart__delete"
               title="{{ lang.deleteDoods }}"></a>
        </div>
    </div>

    <div class="big-cart__summ">
        {{ lang.intotal }} <span class="price price_bold price_big big-cart__itog">{{ result.summ }}</span>
    </div>

    <div class="big-cart__result">
        <a href="#" class="btn-default btn-default_black btn-default_big btn-default_font_normal btn-default_accent">{{
            lang.continue }}</a>
    </div>

</section>
