.product-page {
  .clearfix;

  &__gallery {
    float: left;
    width: 55%;
  }

  &__info {
    float: right;
    width: 45%;
    padding-left: @verticalInterval;
  }

  &__title {
    margin-bottom: @verticalInterval;
  }

  &__artnumber {
    display: inline-block;
  }

  &__name {
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: @accentTextColor;
    line-height: 1.1;
  }

  &__prices {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: @verticalInterval * 1.5;
  }

  &__count {
    display: inline-block;
    vertical-align: top;
    height: 59px;
    border: 1px solid @commonBorderColor;
    padding: 1px;
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    height: 59px;
  }

  &__price {
    margin-right: 0.5em;
  }

  &__buy {
    padding-bottom: @verticalInterval;
    border-bottom: 1px solid @commonBorderColor;
    margin-bottom: @verticalInterval;
  }
}