@import "../../common/less/variables";

.product-page {
  .clearfix;

  &__gallery {
    position: relative;
    float: left;
    width: 55%;
    margin-bottom: @verticalInterval;
  }

  &__striker {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 170px;
    height: 170px;
  }

  &__info,
  &__advantages {
    float: right;
    width: 45%;
    padding-left: @verticalInterval;
    margin-bottom: @verticalInterval;
  }

  &__buy-section {
    position: relative;
    padding-bottom: @verticalInterval * 1.5;
    border-bottom: 1px solid @commonBorderColor;
  }

  &__socials {
    position: absolute;
    bottom: @verticalInterval / 2;
  }

  &__title {
    margin-bottom: @verticalInterval;
  }

  &__artnumber {
    display: inline-block;
  }

  &__name {
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: @accentTextColor;
    line-height: 1.1;
  }

  &__prices {
    line-height: 1;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: @verticalInterval;
    margin-right: @verticalInterval;
  }

  &__avilable {
    margin-bottom: 1em;
  }

  &__count {
    display: inline-block;
    width: 125px;
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    height: 59px;
  }

  &__price {
    margin-right: 0.5em;
  }

  &__buy {
    display: inline-block;
    vertical-align: top;
    margin-bottom: @verticalInterval * 1.5;
    white-space: nowrap;
  }

  &__props {
    margin-bottom: @verticalInterval / 2;
  }

  &__description {
    clear: both;
    margin-bottom: @verticalInterval;
    font-size: 1.5rem;
  }
  &__description-title {
    margin-bottom: 1rem;
  }
}

@media all and (max-width: @screen-mx){
  .product-page {
    &__gallery,
    &__info,
    &__advantages {
      width: 50%;
    }
  }
}
@media all and (max-width: @screen-lg){
  .product-page {
    &__gallery,
    &__info,
    &__advantages {
      float: none;
      width: auto;
    }
    &__info,
    &__advantages {
      padding-left: 0;
    }
    &__buy-section {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

@media all and (max-width: @screen-sm){
  .product-page {
    &__count {
      width: 265px;
      margin-bottom: 1rem;
    }

    &__btn {
      display: block;
      width: 100%;
    }
  }
}
