<div class="orders-form">

    <ul class="orders-form__steps steps">
        <li class="steps__item" [class.steps__item_active]="status.buyer.active">Покупатель</li>
        <li class="steps__item" [class.steps__item_active]="status.delivery.active">Доставка</li>
        <li class="steps__item" [class.steps__item_active]="status.pay.active">Оплата</li>
    </ul>

    <buyer-form [style.display]="status.buyer.active ? 'block' : 'none'" class="orders-form__content"></buyer-form>
    <delivery-form [style.display]="status.delivery.active ? 'block' : 'none'" class="orders-form__content"></delivery-form>
    <pay-system [style.display]="status.pay.active ? 'block' : 'none'" class="orders-form__content"></pay-system>
</div>


