@import (less) "bower_components/normalize-css/normalize.css";
@import (reference) "bower_components/bootstrap/less/bootstrap.less";
@import "common/less/variables.less";
@import "bower_components/bootstrap/less/mixins/clearfix.less";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
}
h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.1;
  margin: 1em 0 0.5em;
  color: @accentTextColor;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  .h4;
}
h5 {
  .h5;
}
h6 {
  .h6;
}
p {
  margin: 0 0 1rem;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

@import "blocks/page/page.less";

.clearfix {
  .clearfix();
}

.error,
.success {
  text-align: center;
}
.success {
  color: green;
}
.error {
  color: red;
}
.center {
  text-align: center;
}

@import "common/less/grid.less";
@import "blocks/arrow/arrow.less";
@import "blocks/link/link.less";
@import "blocks/img/img.less";
@import "blocks/btn-default/btn-default.less";
@import "blocks/circle/circle.less";

//Наследуемые блоки
@import "blocks/horizontal-list/horizontal-list.less";

//Общие блоки
@import "blocks/price/price.less";
@import "blocks/item-title/item-title.less";
@import "blocks/block-title/block-title.less";
@import "blocks/section-title/section-title.less";
@import "blocks/links-list/links-list.less";
@import "blocks/modal/modal.less";
@import "blocks/form/form.less";
@import "blocks/form/form-text.less";
@import "blocks/photo/photo.less";
@import "blocks/select/select.less";

@import "blocks/header/header.less";
@import "blocks/content/content.less";
@import "blocks/footer/footer.less";
@import "blocks/logo/logo.less";
@import "blocks/cart/cart.less";
@import "blocks/mini-cart/mini-cart.less";
@import "blocks/info-links/info-links.less";
@import "blocks/menu/menu.less";
@import "blocks/item-card/item-card.less";
@import "blocks/copyright/copyright.less";
@import "blocks/breadcrumbs/breadcrumbs.less";
@import "blocks/product-page/product-page.less";
@import "blocks/product-count/product-count.less";
@import "blocks/product-modal/product-modal.less";

@import (less) "blocks/gallery/owl.carousel.css";
@import "blocks/gallery/gallery.less";
@import "blocks/phone/phone.less";
@import "blocks/striker/striker.less";
@import "blocks/avilable/avilable.less";
@import "blocks/quick-view/quick-view.less";
@import "blocks/page-navigation/page-navigation.less";

@import "common/less/animations";