@import (reference) "bower_components/bootstrap/less/bootstrap.less";
@import "common/less/variables.less";
@import (less) "bower_components/normalize-css/normalize.css";
@import "bower_components/bootstrap/less/mixins/clearfix.less";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
}

@import "blocks/page/page.less";

.clearfix {
  .clearfix();
}

@import "common/less/grid.less";
@import "blocks/arrow/arrow.less";
@import "blocks/link/link.less";
@import "blocks/btn-default/btn-default.less";
@import "blocks/circle/circle.less";

//Наследуемые блоки
@import "blocks/horizontal-list/horizontal-list.less";

//Общие блоки
@import "blocks/price/price.less";
@import "blocks/item-title/item-title.less";
@import "blocks/block-title/block-title.less";
@import "blocks/section-title/section-title.less";
@import "blocks/links-list/links-list.less";
@import "blocks/modal/modal.less";
@import "blocks/form/form.less";
@import "blocks/form/form-text.less";
@import "blocks/photo/photo.less";
@import "blocks/select/select.less";

@import "blocks/header/header.less";
@import "blocks/content/content.less";
@import "blocks/footer/footer.less";
@import "blocks/logo/logo.less";
@import "blocks/cart/cart.less";
@import "blocks/mini-cart/mini-cart.less";
@import "blocks/phone/phone.less";
@import "blocks/info-links/info-links.less";
@import "blocks/menu/menu.less";
@import "blocks/item-card/item-card.less";
@import "blocks/copyright/copyright.less";
@import "blocks/breadcrumbs/breadcrumbs.less";
@import "blocks/product-page/product-page.less";

@import (less) "blocks/gallery/owl.carousel.css";
@import "blocks/gallery/gallery.less";