.phone {
  display: inline-block;
  cursor: default;
  text-decoration: none;
  height: 26px;
  line-height: 26px;
  padding-left: 35px;
  background-image: url('dev/svg/phone_26_gray.svg');
  background-repeat: no-repeat;
}