@import "../../common/less/variables";

.select {
  font-size: 1.2rem;
  height: 3rem;
  border: 1px solid @commonBorderColor;
  display: block;
  padding-right: 20px;
  padding-left: 0.5rem;
  width: 100%;
  background: #FFF url('dev/blocks/select/arrow_down_black.svg') no-repeat scroll right 5px center;
  appearance: none;
  overflow: hidden;

  & option {
    appearance: none;
    padding: 0.5rem;
    border: 0;
    background: transparent;
  }
}