.select {
  font-size: 1.2rem;
  border: 1px solid @commonBorderColor;
  display: block;
  padding-right: 20px;
  width: 100%;
  background: #FFF data-uri('C:\WEB\Elvenstar\Markup\dev\svg\arrow_down_black.svg') no-repeat scroll right 5px center;
  appearance: none;
  overflow: hidden;

  & option {
    padding: 0.5rem;
    border: 0;
    background: transparent;
  }
}