@media (min-width: 421px) {
  .info-links {

    &__mobile-btn {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .info-links {

    &__list {
      display: none;
    }
    &__mobile-btn {
      left: @grid-gutter-width / 2;
      display: inline-block;
      cursor: pointer;
      height: 30px;
      width: 30px;
      background-image: url('../svg/hamburg_30_black.svg');
      background-repeat: no-repeat;
    }
  }
}
