.catalog {
    padding: 30em/13 0;
    &__item {
        margin-bottom: 20px;
    }
    &__link {
        display: block;
        position: absolute;
        background-position: 50% 50%;
        background-size: auto 90%;
        background-repeat: no-repeat;
        width: 90%;
        left: 5%;
        right: 5%;
        top: 0;
        bottom: 0;
    }
}

.item-card {
    margin-bottom: 15em/13;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
    &__img {
        position: relative;
        height: 0;
        padding-top: 100%;

    }
    &__title {
        height: 50em/13;
        
        overflow: hidden;
        margin-bottom: 15em/13;
        &_middle {
            line-height: 50em/13;
            
        }
    }
    &__link {
        display: inline-block;
        vertical-align: middle;
        color: @titlesColor;
        font-size: 1em;
        line-height: 1em;
        text-decoration: none;
        font-weight: bold;
        font-family: "Georgia", serif;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 10em/13 0;
        &:hover {
            color: #cc0000;
        }
    }
    &__info {
        position: relative;
    }

    &__btn {
         width: 70%;
        font-weight: bold;
        color: #fff;
        padding: 7em/13 0;
        margin: 0 (100%-70%)/2;
        cursor: pointer;
        &:hover {
            background: @baseTextColor;
            
        }
        
    }
    &__price {
        text-align: center;
        font-weight: bold;
        font-size: 15em/13;
        margin-bottom: 10em/13;
        
        &_new {
            color: #cc0000;
                        
        }
        
        &_old {
            text-decoration: line-through;
        }
    }

}




