.item-card {

    &__img-wrapper {
        position: relative;
        height: 0;
        padding-top: 100%;
        margin-bottom: 1rem;
    }
    &__img {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    &__info {
        position: relative;
        padding-bottom: @grid-gutter-width;
    }
    &__prices {
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
    }
    &__price {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    &__title {
        height: 50px;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    &_text_center {
        text-align: center;
    }
}




