.item-card {

    &__img-wrapper {
        position: relative;
        height: 0;
        padding-top: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
        margin-bottom: 1rem;
    }
    &__img {
        display: block;
        position: absolute;
        background-position: 50% 50%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        left: 6px;
        right: 6px;
        top: 6px;
        bottom: 6px;
    }
    &__info {
        position: relative;
        padding-bottom: @grid-gutter-width;
    }
    &__prices {
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
    }
    &__price {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    &__title {
        height: 50px;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    &_text_center {
        text-align: center;
    }
}




