.gallery {
  border: 1px solid @commonBorderColor;
  padding: 6px;

  &__media {
    position: relative;
    padding-bottom: 100%;
    background-color: #FFF;
  }
  &__img {
    display: block;
    position: absolute;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__dots {
    padding-top: 15px;
    text-align: center;
  }

  &__dot {
    position: relative;
    display: inline-block;
    width: 10%;
    padding-bottom: 10%;
    background-color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 1px @commonBorderColor;
    cursor: pointer;

    &.active {
      border-color: #333;
    }
  }
}

@media all and (max-width: @screen-md) {
  .gallery {
    &__dot {
      width: 15%;
      padding-bottom: 15%;
    }
  }
}

@media all and (max-width: @screen-sm) {
  .gallery {
    &__dot {
      width: 20%;
      padding-bottom: 20%;
    }
  }
}
