.gallery {
  &__img {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
    background-color: #FFF;
    border: 1px solid @commonBorderColor;
  }
  &__dots {
    padding-top: 15px;
    text-align: center;
  }

  &__dot {
    display: inline-block;
    width: 10%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
    background-color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 1px @commonBorderColor;
    cursor: pointer;

    &.active {
      border-color: #333;
    }
  }
}

