.modal {
  display: none;
  padding: 1em 1.5em 2em 1.5em;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  overflow: auto;

  &__block {
    margin-bottom: 2rem;
    border-bottom: 1px solid @commonBorderColor;
  }

  &__title {
    padding: 0.5em 0;
    font-size: 2rem;
    font-weight: normal;
    color: @accentTextColor;
  }

  &__close {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
    cursor: pointer;
    height: 23px;
    width: 23px;
    background: url('dev/svg/close_20_black.svg') no-repeat scroll center center;
  }

  &_visible {
    display: block;
  }
}

