@import "../../common/less/variables";

.form {
  .clearfix;

  &__label {
    display: inline-block;
    margin-bottom: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: @baseTextColor;
  }

  &__item {
    margin-bottom: @verticalInterval / 2;
  }

  &__result {
    margin-bottom: @verticalInterval / 2;
  }

  &__reload {
    text-align: center;
  }

  &__required {
    &::after {
      content: '*';
      color: red;
      margin-left: 0.1em;
    }
  }
}