@import "../../common/less/variables";

.form {
  .clearfix;

  &__label {
    display: inline-block;
    margin-bottom: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: @baseTextColor;
  }
//__item - обертка для элемента формы
  &__item,
//__result - блок для сообщений о результате (ошибка/успешно)
  &__result {
    .clearfix;
    margin-bottom: @verticalInterval / 2;
  }

  &__reload {
    text-align: center;
  }
// Обязательные поля
  &__required {
    &::after {
      content: '*';
      color: red;
      margin-left: 0.1em;
    }
  }
}